.app {
  display: flex;
}

.main-content {
  flex-grow: 1;
  margin-left: 220px; 
  padding-top: 56px; 

  background-color: #ffffff;
  min-height: 100vh;
  overflow: hidden; 
}

.content {
  padding: 16px;
  padding-top: 2px;
}