* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .search-card {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 1000px;
    background-color: #fff;
    padding: 16px 0;
    border-bottom: none;
  
  }
  
  .search-thumbnail {
    width: 500px;
    height: 280px; 
    object-fit: cover;
    margin-right: 16px;
   
  }
  
  .search-card-content {
    flex-grow: 1;
    padding-right: 16px;
  }
  
  .video-title {
    font-size: 18px;
    font-weight: 500;
    color: #030303;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .channel-name {
    font-size: 14px;
    color: #606060;
    margin-bottom: 6px;
  }
  
  .video-info {
    font-size: 14px;
    color: #606060;
    margin-bottom: 12px;
  }
  
  .video-description {
    font-size: 14px;
    color: #606060;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  